@page
@model WebApplication1.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}
<div class="text-center">
    <h1 class="display-4">
        Testing Deployment Slots
    </h1>
    <h3>Validating Deployment Slots </h3>

</div>
